.page{
    min-height: 800px;
}

/*---MAIN PAGE ---*/
.promo.section{
    min-height: 800px
}
/*---CONTACTS ---*/

.about.section{
    min-height: 800px;
}
.container {
    max-width: 1680px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}
.map-contact__container {

    padding-top: 50px;
    padding-bottom: 50px;
}
.map-contact__map {
    height: 100vh;
    max-height: 62.5rem;
    background: #f9f9fc;
}

.contacts{
    padding: 100px 0;
    background: #f5f5f5;
    min-height: 800px;
}

.map-contact__msg{
font-weight: 700;
margin-left: 30px;
    color: #276e14;
}
.map-contact__msg.error{
    color: #e12525;
}
.map-contact__msg, .no-elements{
    text-align: center;
    color: green;
    font-weight: 600;
}